// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.table td {
    vertical-align: middle !important;
}
.cursor-pointer {
    cursor: pointer;
}
.zoom-in {
    cursor: zoom-in;
}
